.content.no-in-line {
  display: flex;
  flex-flow: column;
  align-items: center;
}
.content.no-in-line .title {
  font-size: 2em;
  margin-bottom: 1em;
  margin-top: 1em;
  color: #c1ff46;
}
.content.no-in-line .image {
  width: 100%;
  display: flex;
  flex-flow: column;
  align-items: center;
}
.content.no-in-line .image img {
  max-width: 100%;
}
.content .portLink {
  display: block;
  background-color: #1b7a97;
  margin: 2em 0;
  border-radius: 5px;
  border: 1px solid white;
}
.content .portLink:hover {
  background-color: #13576c;
}
.content .portLink a {
  color: white;
  display: block;
  text-decoration: none;
  text-align: center;
  padding: 0.5em 1em;
  font-family: 'Press Start 2P';
  font-size: 1em;
}
@media only screen and (min-width: 850px) {
  .content .image {
    width: 100%;
  }
  .content .image img {
    max-width: 50% !important;
  }
  .content .description {
    width: 50%;
  }
}
